.storybook
{
    left: -5px;
}
.storybook .storybook-pages
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
}
.imgStorage
{
    position: relative;
        height: 600px;
        width: 670px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        grid-template-rows: minmax(50px,auto);
        grid-auto-flow: dense;
        grid-gap: 10px;
}
.imgStorage .imgCont1
{
    display: grid;
} 
.imgStorage .imgCont1:nth-child(1)
{
    grid-column: span 2;
    background-image: url(5.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont1:nth-child(2)
{
    background-image: url(4.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont1:nth-child(3)
{
    background-image: url(33.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont2:nth-child(1)
{
    background-image: url(13.jpg);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.imgStorage .imgCont2:nth-child(2)
{
    background-image: url(3.jpg);
    grid-column: span 2;
    background-position: center;
    background-size: cover;
    bottom: -10%;
    position: relative;
    height: 320px;
}
.imgStorage .imgCont2:nth-child(3)
{
    background-image: url(15.jpg);
    background-position: center;
    background-size: cover;
    width: 390px;
    right: 13%;
    position: relative;
    height: 300px;

}
.imgStorage .imgCont3:nth-child(1)
{
    grid-row: span 2;
    background-image: url(manh3.jpg);
    background-position: center;
    background-size: cover;
    width: 300px;
}
.imgStorage .imgCont3:nth-child(2)
{
    background-image: url(40.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    right: 10%;
    width: 400px;
}
.imgStorage .imgCont3:nth-child(3)
{
    background-image: url(41.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    right: 10%;
    width: 400px;
}
.imgStorage1
{
    position: relative;
        height: 600px;
        width: 700px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
        grid-template-rows: minmax(50px,auto);
        grid-auto-flow: dense;
        grid-gap: 10px;
}
.imgStorage1 .imgCont4:nth-child(1)
{
    grid-column: span 1;
    background-image: url(six1.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage1 .imgCont4:nth-child(2)
{
    background-image: url(34.jpg);
    background-position: center;
    background-size: cover;
    grid-column: span 2;
}
.imgStorage1 .imgCont4:nth-child(3)
{
    background-image: url(14.jpg);
    background-position: center;
    background-size: cover;
    grid-column: span 2;
}
.imgStorage1 .imgCont4:nth-child(4)
{
    background-image: url(six5.jpg);
    background-position: center;
    background-size: cover;
    grid-column: span 1;
}
.imgStorage .imgCont5:nth-child(1)
{
    grid-column: span 2;
    background-image: url(23.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont5:nth-child(2)
{
    background-image: url(16.jpg);
    background-position: center;
    background-size: cover;
    grid-column: span 2;
}
.imgStorage .imgCont6:nth-child(1)
{
    grid-column: span 2;
    background-image: url(45.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont6:nth-child(2)
{
    background-image: url(42.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont6:nth-child(3)
{
    background-image: url(41.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont7:nth-child(1)
{
    background-image: url(39.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont7:nth-child(2)
{
    background-image: url(43.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont7:nth-child(3)
{
    background-image: url(44.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont7:nth-child(4)
{
    background-image: url(47.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont8:nth-child(1)
{
    grid-column: span 2;
    background-image: url(26.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    top: -10%;
    height: 300px;
}
.imgStorage .imgCont8:nth-child(2)
{
    bottom: -10%;
    background-image: url(46.jpg);
    background-position: center;
    background-size: cover;
    grid-column: span 2;
    position: relative;
    height: 350px;
}
.imgStorage .imgCont9:nth-child(1)
{
    grid-column: span 2;
    background-image: url(27.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont9:nth-child(2)
{
    background-image: url(28.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont9:nth-child(3)
{
    background-image: url(29.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont10:nth-child(1)
{
    grid-column: span 2;
    background-image: url(24.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont10:nth-child(2)
{
    background-image: url(9.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont10:nth-child(3)
{
    background-image: url(19.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont11:nth-child(1)
{
    grid-column: span 2;
    background-image: url(37.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont11:nth-child(2)
{
    background-image: url(25.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont11:nth-child(3)
{
    background-image: url(22.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont12:nth-child(1)
{
    grid-column: span 2;
    background-image: url(11.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont12:nth-child(2)
{
    background-image: url(21.jpg);
    background-position: center;
    background-size: cover;
    grid-column: span 2;
}
.imgStorage .imgCont13:nth-child(1)
{
    grid-column: span 2;
    background-image: url(32.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont13:nth-child(2)
{
    background-image: url(31.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont13:nth-child(3)
{
    background-image: url(30.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont14:nth-child(1)
{
    grid-column: span 2;
    background-image: url(20.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont14:nth-child(2)
{
    background-image: url(36.jpg);
    background-position: center;
    background-size: cover;
    grid-column: span 2;
}
.imgStorage .imgCont15:nth-child(1)
{
    grid-column: span 2;
    background-image: url(10.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont15:nth-child(2)
{
    background-image: url(18.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont15:nth-child(3)
{
    background-image: url(38.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont16:nth-child(1)
{
    grid-column: span 2;
    background-image: url(17.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont16:nth-child(2)
{
    background-image: url(brother.jpg);
    background-position: center;
    background-size: cover;
    grid-column: span 2;
}
.imgStorage .imgCont17:nth-child(1)
{
    grid-column: span 2;
    background-image: url(2.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont17:nth-child(2)
{
    background-image: url(8.jpg);
    background-position: center;
    background-size: cover;
}
.imgStorage .imgCont17:nth-child(3)
{
    background-image: url(12.jpg);
    background-position: center;
    background-size: cover;
}
.BackBook
  {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .BackBook .box
  {

      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      color: #fff;
      width: 600px;
      height: 400px;
  }
  .BackBook .box p
  {
      text-align: center;
      font-size: 50px;
      width: 600px;
      position: relative;

  }
