
#DOm
{
    width: 100%;
    padding-top:50px;
    padding-bottom: 300px;
}
.swiper-slide
{
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
    background: transparent;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #000600);
}
.cardy
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition:1s;
}
.cardy .fronty
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition:1s
}
.cardy:hover .fronty
{
    transform: rotateX(-180deg);
}
.cardy .backy
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition:1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardy:hover .backy
{
    transform: rotateX(0deg);
}
.cardy .backy .details
{
    width: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
.cardy .backy .details h2
{
    margin: 0;
    padding:0;
    font-size: 30px;
    color: #fff;
}
button
{
    z-index: 100;
}