body
{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    
    /* overflow-y: scroll;
    overflow-x: hidden; */
}
.none
{
    display: none;
}
.blur
{
    background: rgba(0,0,0,0.2);
    /* overflow-x: hidden; */
}
/* section2 */
.section2 h2
{
    position: relative;
    top: 0;
    left: 50%;
}


.card
{
    position: relative;
    background: #fff;
    width: 400px;
    height: 500px;
    margin: 0 auto;
}
.card .content
{
    width: 400px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
    position: relative;
}  
.swiper-slide:nth-child(1) .card .sliderText
{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url(2.jpg);
    background-position: center;
    background-size: cover;
}
.swiper-slide:nth-child(2)  .card .sliderText
{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url(15.jpg);
    background-position: center;
    background-size: cover;
}
.swiper-slide:nth-child(3)  .card .sliderText
{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url(17.jpg);
    background-position: center;
    background-size: cover;
}
.swiper-slide:nth-child(4) .card .sliderText
{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url(19.jpg);
    background-position: center;
    background-size: cover;
}
.swiper-slide:nth-child(5) .card .sliderText
{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url(12.jpg);
    background-position: center;
    background-size: cover;
}
@keyframes slider 
{
    0%
    {
        background-image: url(6.jpg);
        animation-delay: 5s;
    }
    
    20%
    {
        background-image: url(1.jpg);
        animation-delay: 5s;
    }
    40%
    {
        background-image: url(12a4s.jpg);
        animation-delay: 5s;
    }
    60%
    {
        background-image: url(15.jpg);
        animation-delay: 5s;
    }
    
    80%
    {
        background-image: url(18.jpg);
        animation-delay: 5s;
    }
}
.card .sliderText h3
{
    color: #fff;
    font-size: 3em;
}
/* section1 */
.section1
{
    width: 100%;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner .cont
{
    position: relative;
    max-width: 750px;
    text-align: center;
}
.banner .cont h2
{
    color: #fff;
    font-size: 60px;
}
.banner .cont h2 span
{
    color: rgb(204, 0, 255);
    font-size: 70px;
}
.banner .cont p
{
    color: #fff;
    font-size: 24px;
}
.banner header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    z-index: 100;
}
.banner header .logo
{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.banner header .toggle
{
    position: absolute;
    width: 36px;
    height: 28px;
    background: url(toggle.pngg);
    background-size: cover ;  
}
.banner footer
{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner footer .swiper-container
{
    width: 300px;
    height: 100%;
    position: relative;
}
.banner footer .swiper-container .swiper-slide 
{
    background-position: center;
    background-size: cover;
    -webkit-box-reflect: below 10px linear-gradient(transparent, #0004);
}
@keyframes move 
{
    0%
    {
        transform: translate(10px,10px);
    }
    50%
    {
        transform: translate(270px,10px);
    }
    100%
    {
        transform: translate(10px,10px);
    }
}
